/* uber powerful reset from venus */

* { box-sizing: border-box; margin: 0; padding: 0 }

/* layout */

html, body {
	margin: 0 auto;
	max-width: 1000px;
}

[class^="grid"] {
	margin: 10px;
	padding: 10px;
}

header { height: 136px }
header h1 { line-height: 100px !important }
main { min-height: calc(100vh - 220px) }
footer { height: 64px }

.spacer {
	width: 100%;
	height: 50px;
}

/* debug */
/*
[class^="grid"] { background-color: aqua }
[class^="col"] { background-color: cadetblue }
*/

/* typography */

h1,h3,h5,p,blockquote,pre,small,ul,ul li {
	color: rgb(173, 173, 173);
	font-family: monospace;
	font-style: normal;
	font-variant: normal;
}
h1,h3,h5 {
	font-weight: 500;
	line-height: 24px;
}
h1 { font-size: 24px; }
h3,h5 { font-size: 18px; }
h3 { font-weight: bold }
h5 {
	font-style: italic;
	margin-top: 20px
}
h5:first-of-type { margin-top: 0 }

p,blockquote,pre,ul {
	font-weight: 400;
	line-height: 16px;
}
p,ul {
	font-size: 14px;
	padding: 10px;
}
ul li {
	font-style: italic;
	margin-left: 24px;
}

blockquote { font-size: 16px }
pre,small { font-size: 12px }

footer small {
	display: block;
	text-align: center;
	width: 100%;
}

a {
  color: #642626;
  text-decoration: none;
}
a:hover { color: #323232 }


/* color */

body { background-color: rgb(83, 83, 83) }
